<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ManageService.dao.MenuPictureEntityMapper">
  <resultMap id="BaseResultMap" type="com.ManageService.entity.MenuPictureEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MENU" jdbcType="VARCHAR" property="menu" />
    <result column="SEQUENCE" jdbcType="BIGINT" property="sequence" />
    <result column="PICTURE" jdbcType="VARCHAR" property="picture" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from menu_picture
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ManageService.entity.MenuPictureEntity">
    insert into menu_picture (ID, MENU, SEQUENCE, PICTURE,
    CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{menu,jdbcType=VARCHAR}, #{sequence,jdbcType=BIGINT}, #{picture,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, MENU, SEQUENCE, PICTURE, CREATE_TIME, UPDATE_TIME
    from menu_picture
    where ID = #{id,jdbcType=BIGINT}
  </select>
</mapper>