<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Smart System</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script type="text/javascript" src="../js/boot.js"></script>
    <script type="text/javascript">
resourceImport('jquery;datatable11015;zui;validate;zTree;common;common_css;common_dialog;common_ajax;common_form;spinkit;moment;chosen;daterangepicker;echarts;zui-uploader;common_fileupload', '../');
</script>
    <script type="text/javascript" src="../js/page/picturemanage.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/common/common_subhtml.css">
    <link rel="stylesheet" type="text/css" href="../css/common/common.css">
    <link rel="stylesheet" type="text/css" href="../css/page/biz_user_user.css">
<body>
    <div class="outer">
        <div class="dataDiv">
            <div class="title">
                <div class="left">
                    <span>信息中心首页轮播</span>
                </div>
                <div class="right">
                    <button class="resetbtn" title="刷新列表"><img src="../image/reset.png"></button>
                    <button class="btn btn-primary zdy-btn" type="button" id="newCompany">添加</button>
                </div>
            </div>
            <div class="middleDiv" style="width:30%">
                <div class="form-group">
                    <div id="uploaderExample1" class="uploader">
                        <div class="file-list" data-drag-placeholder="位置一图片"></div>
                        <button type="button" class="btn btn-primary uploader-btn-browse uploadPic"><i class="icon icon-cloud-upload"></i> 选择文件</button>
                    </div>
                </div>
                <div class="form-group">
                    <div id="uploaderExample2" class="uploader">
                        <div class="file-list" data-drag-placeholder="位置二图片"></div>
                        <button type="button" class="btn btn-primary uploader-btn-browse uploadPic"><i class="icon icon-cloud-upload"></i> 选择文件</button>
                    </div>
                </div>
                <div class="form-group">
                    <div id="uploaderExample3" class="uploader">
                        <div class="file-list" data-drag-placeholder="位置三图片"></div>
                        <button type="button" class="btn btn-primary uploader-btn-browse uploadPic"><i class="icon icon-cloud-upload"></i> 选择文件</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="pictureSubmit" type="submit" class="btn btn-default">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadPicModel">
        <div class="modal-dialog common-modal-dialog">
            <div class="modal-content">
                <div class="modal-header common-modal-header">
                    <h4 id="title" style="display:inline;" class="modal-title">导入图片</h4>
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body common-modal-body" style="overflow-y:scroll">
                    <form class="form-horizontal" id="expform">
                        <div class="form-group">
                            <label for="exampleInputAccount4" class="col-sm-2">图片</label>
                            <div class="col-md-9 col-sm-10">
                                <input id="file" class="form-control" name="file" placeholder="图片" readonly="readonly" style="background: #fff">
                            </div>
                            <label for="exampleInputAccount4" class="col-sm-2"></label>
                            <div id="uploaderExample" class="uploader col-md-9 col-sm-10">
                                <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                                <button type="button" class="btn btn-primary uploader-btn-browse">
                                    <i class="icon icon-cloud-upload">选择文件</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer common-modal-footer">
                    <button type="button" class="btn btn-primary">确认上传</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>