html, body { height: 100%; width: 100%; margin: 0px; padding: 0px; background-color: #e9e7f3; overflow: hidden; }

.body_left { width: 50%; float: left; margin: 0px; height: 100%; padding: 20px 10px 20px 20px; }
.body_left .top { width: 100%; height: 25%; margin: 0px; padding-bottom: 5px; }
.body_left .bottom { width: 100%; height: 75%; margin: 0px; padding-top: 5px; }
.body_right { width: 50%; float: right; margin: 0px; height: 100%; padding: 20px 20px 20px 10px; }
.body_right .top { width: 100%; height: 50%; margin: 0px; padding-bottom: 5px; }
.body_right .bottom { width: 100%; height: 50%; margin: 0px; padding-top: 5px; }
.item { background-color: #FFF; height: 100%; width: 100%;}
.item .tools { width: 100%; height: 1.1vw; padding: 10px 15px; }
.item .tools .title { float: left; font-size: 1.1vw; font-weight: bold; font-family: '微软雅黑'; color: #191f5d; }
.item .tools .middle { float: left; margin-left: 1vw; font-size: 1.0vw; padding-top: 0.2px; font-weight: bold; font-family: '微软雅黑'; color: #191f5d; }
.item .tools .middle span { font-size: 1vw; font-weight: normal; margin-right: 10px; }
.item .tools .buttons { float: right; }
.item .tools .buttons img { cursor: pointer; height: 1.3vw; }
.item .tools .buttons button { width: auto; padding: 0.1vw; }

.item .body {position: relative;
    top: 0;
    left: 0; width: 100%; 
    height: 100%; 
    padding: 2vw 0px 0px 0px; 
}

.item .body .sumtop { height: 50%; width: 100%;/*  background-color: #000;*/}
.item .body .sumtop .left { width: 50%; height: 90%; margin: 0px; padding: 0px; float: left; }
.item .body .sumtop .right { width: 50%; height: 90%; margin: 0px; padding: 0px; float: right; }
.item .body .sumbottom {  height: 50%; margin-top: -1.1vw; }
.item .body .sumbottom .left { width: 50%; height: 90%; margin: 0px; padding: 0px; float: left; }
.item .body .sumbottom .right { width: 50%; height: 90%; margin: 0px; padding: 0px; float: right; }
.item .body .sumbottom .right .bad { width: 50%; height: 90%; margin: 0px; padding: 0px; float: left; }

.menu { text-align: center; float: left; cursor: pointer; margin: 0px 1vw; font-size: 1vw; font-weight: bold; font-family: '微软雅黑'; color: #6b768e; }
.menu:hover { color: #2963FF; }
.menu img { height: 4vw; }
.repo { width: 100%; height: 100%; }

.echartTitle { font-size: 0.9vw; font-weight: bold; font-family: '微软雅黑'; color: #191f5d; }
